<nav class="navbar navbar-expand-lg">
    
      <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
     
        <ul class="nav navbar-nav navbar-left ml-auto">
       
               
            <a  [routerLink]="['/doctor/doctordashboard/doctoreditprofile']" > <button class="btn btn-primary" type="button"  >Edit Profile</button></a> &nbsp; 
            <a  [routerLink]="['/doctor/doctordashboard/doctoreditpassword']" > <button class="btn btn-primary" type="button"  >Edit Password</button></a>&nbsp; 
            <a  [routerLink]="['/doctor/doctordashboard/enableonlineconsult']" > <button class="btn btn-primary" type="button"  >Consultation Time</button></a>&nbsp; 
            <a  [routerLink]="['/doctor/doctordashboard/doctorviewappointments']" > <button class="btn btn-primary" type="button"  >View Appointments</button></a>&nbsp; 
            <a  [routerLink]="['/doctor/doctordashboard/doctorviewcustomers']" > <button class="btn btn-primary" type="button"  >View Customers</button></a>&nbsp; 
            <a  (click)="onLogoutClick()" href="#"> <button class="btn btn-primary" type="button"  >Logout</button></a>
     
      </ul>
      </div>
     
    </nav>
  <hr>
  <br>
 
  <div class="container-fluid">
      <form  [formGroup]="userForm" (ngSubmit)= "onEditSubmit(userForm.value)">
          <div class="form-group">
              <input type="hidden" formControlName="_id" class="form-control"  style="width: 300px;" [(ngModel)]="doctor._id">
            </div>
        </form>
        <h3 class="hint-text">&nbsp; &nbsp;&nbsp;&nbsp;Upcoming Appointments!</h3>
    
      <br>
      <table align="left" style="width:700px">
        <thead>
          <tr>  
       
          </tr>
        </thead>
        <tbody>
                
            <tr *ngFor ="let appointment of appointments | paginate: { itemsPerPage: 10, currentPage: p }">
              <div *ngIf="doctor._id == appointment.doctorid  &&  appointment.systemappointmentdate.slice(0,10) > this.today || (this.today == appointment.systemappointmentdate.slice(0,10) &&  appointment.systemappointmenttime > this.currenttimevalue )">
                <h4>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Appointment Date:&nbsp;{{appointment.appointmentdate.slice(0,10)}}<br>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Appointment Time:&nbsp;{{appointment.appointmenttime}}<br>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Consult Method:&nbsp;{{appointment.consultmethod}}<br>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Paypal Transaction ID:&nbsp;{{appointment.paytransid}}
             <br> <div *ngFor ="let customer of customers"><div *ngIf="customer._id == appointment.userid">&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Customer Name:&nbsp;<a href="https://consultonline.herokuapp.com/doctor/doctordashboard/customerprofile/{{customer._id}}" target="_blank">{{customer.name}}</a></div></div></h4>
           <p>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;-----------------------------------------------------------------------------------</p>
            <br>
             </div>
            </tr>
      
        </tbody>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </table> 
      
  </div>
