<nav class="navbar navbar-expand-lg">
    
      <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
     
        <ul class="nav navbar-nav navbar-left ml-auto">
       
            <a  [routerLink]="['/admin/admindashboard/admineditprofile']" > <button class="btn btn-primary" type="button"  >Edit Profile</button></a> &nbsp; 
            <a  [routerLink]="['/admin/admindashboard/admineditpassword']" > <button class="btn btn-primary" type="button"  >Edit Password</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminadddoctor']"> <button class="btn btn-primary" type="button"  >Add Doctor</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewdoctorslist']" > <button class="btn btn-primary" type="button"  >Doctors List</button></a> &nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewcustomerslist']" > <button class="btn btn-primary" type="button"  >Customers List</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewappointmentslist']" > <button class="btn btn-primary" type="button"  >Appointments List</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewfeedbacks']" > <button class="btn btn-primary" type="button"  >Customers Feedbacks</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminallocatepid']" > <button class="btn btn-primary" type="button"  >Allocate PID</button></a>&nbsp; 
            <a  (click)="onLogoutClick()" href="#"> <button class="btn btn-primary" type="button"  >Logout</button></a>
      </ul>
      </div>
     
    </nav>
  <hr>
  <br>
    <br>

      <!-- edit form column -->
      <flash-messages></flash-messages>
      <div class="container" style="width: 37%" >        
          <form class="p-3 mb-2 bg-danger text-white" [formGroup]="doctorbooksearchForm" (ngSubmit)= "onSearchSubmit(doctorbooksearchForm.value)">
              <h5 class="font-weight-bold text-white" >Book Appointment</h5>
                <div class="form-group">
                 <label for="location1" class="control-label">Choose Location</label>
                 <select style=" height:35px;" class="form-control" formControlName="doctorsearchlocation" [(ngModel)]="doctorsearchlocation">
                    <option value="Illinois">Illinois</option>
                    <option value="New York">New York</option>
                    <option value="California">California</option>
                    <option value="Indiana">Indiana</option>
                 </select>
                </div>
                <div class="form-group">
                <label for="type1" class="control-label">Choose Speciality</label>
                 <select style=" height:35px;" class="form-control" formControlName="doctorsearchspeciality" [(ngModel)]="doctorsearchspeciality">
                    <option value="Gastroenterology">Gastroenterology</option>
                    <option value="Dermatology">Dermatology</option>
                    <option value="Psychiatry">Psychiatry</option>
                    <option value="Obsterics and Gynaecology"> Obsterics and Gynaecology</option>
                    <option value="Cardiology">Cardiology</option>
                 </select>
                </div>
             
              <button class="btn btn-primary" type="submit">Search Doctors</button>
              </form>
      </div>
  

      <div class="container-fluid" *ngFor ="let doctor of doctors | paginate: { itemsPerPage: 10, currentPage: p }">
          <div *ngIf="this.doctorsearchlocation==doctor.state && this.doctorsearchspeciality==doctor.speciality">
              <br>
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                  <th scope="col">Profile Img</th>
                                <th scope="col">Name</th>
                                <th scope="col">Speciality</th>
                                <th scope="col">&nbsp; &nbsp;&nbsp; &nbsp;  </th>
                                <th scope="col">&nbsp; &nbsp;&nbsp; &nbsp;  </th>
                              </tr>
                            </thead>
                            <tbody >
                                  <tr  >
             
                                <td> <img *ngIf="doctor.profileimg; else noImage" style="width:100px;height:100px;" src="assets/uploads/{{doctor._id}}/{{doctor.profileimg}}" onerror="this.src ='assets/images/profile.jpg';"/></td>
                                <td>{{doctor.name}}</td>
                                <td>{{doctor.speciality}}</td>
                                <td><a href="https://consultonline.herokuapp.com/admin/admindashboard/admincustomerbookappointment/{{this.customerid}}/{{doctor._id}}"> <input type="botton" value="Book Appointment" class="btn btn-danger"></a></td>
                             
                              </tr> 
                           
                            </tbody>
                          </table> 
                          <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
            </div>
