<nav class="navbar navbar-expand-lg">
    
      <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
     
        <ul class="nav navbar-nav navbar-left ml-auto">
       
            <a  [routerLink]="['/admin/admindashboard/admineditprofile']" > <button class="btn btn-primary" type="button"  >Edit Profile</button></a> &nbsp; 
            <a  [routerLink]="['/admin/admindashboard/admineditpassword']" > <button class="btn btn-primary" type="button"  >Edit Password</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminadddoctor']"> <button class="btn btn-primary" type="button"  >Add Doctor</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewdoctorslist']" > <button class="btn btn-primary" type="button"  >Doctors List</button></a> &nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewcustomerslist']" > <button class="btn btn-primary" type="button"  >Customers List</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewappointmentslist']" > <button class="btn btn-primary" type="button"  >Appointments List</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewfeedbacks']" > <button class="btn btn-primary" type="button"  >Customers Feedbacks</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminallocatepid']" > <button class="btn btn-primary" type="button"  >Allocate PID</button></a>&nbsp; 
            <a  (click)="onLogoutClick()" href="#"> <button class="btn btn-primary" type="button"  >Logout</button></a>
      </ul>
      </div>
     
    </nav>
  <hr>
  <br>
    <br>
    <div class="container-fluid">
        <h3 >Manage doctors</h3>
        <br>
        <form  [formGroup]="doctorsearchForm" (ngSubmit)= "onSearchSubmit(doctorsearchForm.value)">
            <div class="form-group">
            &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control mr-sm-2" type="text" formControlName="emailphone" class="form-control" size="35" placeholder="Search by:Email, Phone number:xxx-xxx-xxxx" [(ngModel)]="emailphone">
           </div>
           <div class="alert alert-danger" *ngIf="doctorsearchForm.controls.emailphone.errors && (doctorsearchForm.controls.emailphone.dirty || doctorsearchForm.controls.emailphone.touched)">
            <div [hidden]="!doctorsearchForm.controls.emailphone.errors.required">Email/Phone Noumber is required</div>
           </div>
           <flash-messages></flash-messages>
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
          <div *ngIf="this.searchemail==this.emailphone && (this.searchemail!=undefined || this.emailphone!=undefined)">
            <br>
              <table class="thead-dark">
                <tbody>
                   
            <tr *ngFor ="let doctor of doctors">
                  <div *ngIf="this.searchemail==doctor.email">
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> 
                      <td><h5>Doctor's Search Details:</h5></td>
                      <br>
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                      <td><b>Profile Img:&nbsp;&nbsp;&nbsp;&nbsp;</b><img *ngIf="doctor.profileimg; else noImage" style="width:100px;height:100px;" src="assets/uploads/{{doctor._id}}/{{doctor.profileimg}}" onerror="this.src ='assets/images/profile.jpg';"/></td>
                       <br>
                       <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                       <td><b>Name:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.name}}</td>
                       <br>
                       <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                       <td><b>Email:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.email}}</td>
                       <br>
                       <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                       <td><b>Speciality:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.speciality}}</td>
                       <br>
                       <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                       <td><b>Mobile Number:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.mobileno}}</td>
                       <br>
                       <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                       <td><b>Alternate Mobile Number:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.altermobileno}}</td>
                       <br>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><b>Active:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.active}}</td>
                         <br>
                     <td><a href="https://consultonline.herokuapp.com/admin/admindashboard/admineditdoctordetails/{{doctor._id}}"> <input type="botton" value="Full Details" class="btn btn-danger"></a>&nbsp;&nbsp;&nbsp;</td>
                     <td><a href="https://consultonline.herokuapp.com/admin/admindashboard/admineditdoctordetails/{{doctor._id}}"> <input type="botton" value="Edit" class="btn btn-danger"></a>&nbsp;&nbsp;&nbsp;</td>
                     <td><input type="botton" (click) = "deleteDoctorForm(doctor._id)" value="Delete" class="btn btn-danger"></td>
                  </div>
                    </tr>    
                  </tbody>
                </table> 
          </div>
          <div *ngIf="this.searchmobileno==this.emailphone && (this.searchmobileno!=undefined || this.emailphone!=undefined)">
              <br>
              <table class="thead-dark">
                <tbody>
                   
            <tr *ngFor ="let doctor of doctors">
                  <div *ngIf="this.searchmobileno==doctor.mobileno">
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> 
                      <td><h5 class="font-weight-bold text-white">Doctor's Search Details:</h5></td>
                      <br>
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                      <td><b>Profile Img:&nbsp;&nbsp;&nbsp;&nbsp;</b><img *ngIf="doctor.profileimg; else noImage" style="width:100px;height:100px;" src="assets/uploads/{{doctor._id}}/{{doctor.profileimg}}" onerror="this.src ='assets/images/profile.jpg';"/></td>
                       <br>
                       <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                       <td><b>Name:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.name}}</td>
                       <br>
                       <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                       <td><b>Email:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.email}}</td>
                       <br>
                       <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                       <td><b>Speciality:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.speciality}}</td>
                       <br>
                       <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                       <td><b>Mobile Number:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.mobileno}}</td>
                       <br>
                       <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                       <td><b>Alternate Mobile Number:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.altermobileno}}</td>
                       <br>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><b>Active:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.active}}</td>
                         <br>
                     <td><a href="https://consultonline.herokuapp.com/admin/admindashboard/admineditdoctordetails/{{doctor._id}}"> <input type="botton" value="Full Details" class="btn btn-danger"></a></td>
                     <td><a href="https://consultonline.herokuapp.com/admin/admindashboard/admineditdoctordetails/{{doctor._id}}"> <input type="botton" value="Edit" class="btn btn-danger"></a></td>
                     <td><input type="botton" (click) = "deleteDoctorForm(doctor._id)" value="Delete" class="btn btn-danger"></td>
                  </div>
                    </tr>    
                  </tbody>
                </table> 
         </div>
         <div *ngIf="this.searchaltermobileno==this.emailphone && (this.searchaltermobileno!=undefined || this.emailphone!=undefined)">
            <br>
            <table class="thead-dark">
              <tbody>
                 
          <tr *ngFor ="let doctor of doctors">
                <div *ngIf="this.searchaltermobileno==doctor.altermobileno">
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><h5 class="font-weight-bold text-white">Doctor's Search Details:</h5></td>
                    <br>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><b>Profile Img:&nbsp;&nbsp;&nbsp;&nbsp;</b><img *ngIf="doctor.profileimg; else noImage" style="width:100px;height:100px;" src="assets/uploads/{{doctor._id}}/{{doctor.profileimg}}" onerror="this.src ='assets/images/profile.jpg';"/></td>
                     <br>
                     <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                     <td><b>Name:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.name}}</td>
                     <br>
                     <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                     <td><b>Email:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.email}}</td>
                     <br>
                     <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                     <td><b>Speciality:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.speciality}}</td>
                     <br>
                     <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                     <td><b>Mobile Number:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.mobileno}}</td>
                     <br>
                     <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                     <td><b>Alternate Mobile Number:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.altermobileno}}</td>
                     <br>
                      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                      <td><b>Active:&nbsp;&nbsp;&nbsp;&nbsp;</b>{{doctor.active}}</td>
                       <br>
                   <td><a href="https://consultonline.herokuapp.com/admin/admindashboard/admineditdoctordetails/{{doctor._id}}"> <input type="botton" value="Full Details" class="btn btn-danger"></a></td>
                   <td><a href="https://consultonline.herokuapp.com/admin/admindashboard/admineditdoctordetails/{{doctor._id}}"> <input type="botton" value="Edit" class="btn btn-danger"></a></td>
                   <td><input type="botton" (click) = "deleteDoctorForm(doctor._id)" value="Delete" class="btn btn-danger"></td>
                </div>
                  </tr>    
                </tbody>
              </table> 
       </div>

          <br>
          <br>
  
        <table class="table table-dark">
          <thead>
            <tr>
                <th scope="col">Profile Img</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Speciality</th>
              <th scope="col">Mo. Number</th>
              <th scope="col">Alter. Mo. Number</th>
              <th scope="col">Active</th>
              <th scope="col">&nbsp; &nbsp;&nbsp; &nbsp;  </th>
              <th scope="col">&nbsp; &nbsp;&nbsp; &nbsp;  </th>
            </tr>
          </thead>
          <tbody>
                <tr *ngFor ="let doctor of doctors | paginate: { itemsPerPage: 10, currentPage: p }">
              <td> <img *ngIf="doctor.profileimg; else noImage" style="width:100px;height:100px;" src="assets/uploads/{{doctor._id}}/{{doctor.profileimg}}" onerror="this.src ='assets/images/profile.jpg';"/></td>
              <td>{{doctor.name}}</td>
              <td>{{doctor.email}}</td>
              <td>{{doctor.speciality}}</td>
              <td>{{doctor.mobileno}}</td>
              <td>{{doctor.altermobileno}}</td>
              <td>{{doctor.active}}</td>
             <td><a href="https://consultonline.herokuapp.com/admin/admindashboard/admineditdoctordetails/{{doctor._id}}"> <input type="botton" value="Full Details" class="btn btn-danger"></a></td>
             <td><a href="https://consultonline.herokuapp.com/admin/admindashboard/admineditdoctordetails/{{doctor._id}}"> <input type="botton" value="Edit" class="btn btn-danger"></a></td>
             <td><input type="botton" (click) = "deleteDoctorForm(doctor._id)" value="Delete" class="btn btn-danger"></td>
            </tr>    
          </tbody>
        </table> 
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    