<nav class="navbar navbar-expand-lg">
    
      <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
     
        <ul class="nav navbar-nav navbar-left ml-auto">
       
            <a  [routerLink]="['/admin/admindashboard/admineditprofile']" > <button class="btn btn-primary" type="button"  >Edit Profile</button></a> &nbsp; 
            <a  [routerLink]="['/admin/admindashboard/admineditpassword']" > <button class="btn btn-primary" type="button"  >Edit Password</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminadddoctor']"> <button class="btn btn-primary" type="button"  >Add Doctor</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewdoctorslist']" > <button class="btn btn-primary" type="button"  >Doctors List</button></a> &nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewcustomerslist']" > <button class="btn btn-primary" type="button"  >Customers List</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewappointmentslist']" > <button class="btn btn-primary" type="button"  >Appointments List</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminviewfeedbacks']" > <button class="btn btn-primary" type="button"  >Customers Feedbacks</button></a>&nbsp; 
            <a  [routerLink]="['/admin/admindashboard/adminallocatepid']" > <button class="btn btn-primary" type="button"  >Allocate PID</button></a>&nbsp; 
            <a  (click)="onLogoutClick()" href="#"> <button class="btn btn-primary" type="button"  >Logout</button></a>
      </ul>
      </div>
     
    </nav>
<hr>
<br>
<br>
<br>
<div class="container-fluid">
  
    <h3>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;Customers Feedbacks</h3>
  
    <br>
    <table class="table" align="left" style="width:700px">
      <thead>
        <tr>  
      
        </tr>
      </thead>
      <tbody>
              
          <tr *ngFor ="let feedback of feedbacks | paginate: { itemsPerPage: 10, currentPage: p }">

              <h4>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Feedback Date:&nbsp;{{feedback.dateoffeedback.slice(0,10)}}<br>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Feedback Time:&nbsp;{{feedback.timeoffeedback}}<br>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Customer Feedback:&nbsp;{{feedback.userfeedback}}<br>
                &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Rating:&nbsp;<ngb-rating [rate]="feedback.currentRate"></ngb-rating><br>
                
               <div *ngFor ="let doctor of doctors"><div *ngIf="doctor._id == feedback.doctorid">&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Doctor Name:&nbsp;<a href="https://consultonline.herokuapp.com/admin/admindashboard/admindoctorprofile/{{doctor._id}}" target="_blank">{{doctor.name}}</a></div></div>
           <div *ngFor ="let customer of customers"><div *ngIf="customer._id == feedback.userid">&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;Customer Name:&nbsp;<a href="https://consultonline.herokuapp.com/admin/admindashboard/admincustomerprofile/{{customer._id}}" target="_blank">{{customer.name}}</a></div></div></h4>
         <p>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<a href="https://consultonline.herokuapp.com/admin/admindashboard/admineditfeedbackdetails/{{feedback._id}}"><input type="botton" value="Edit" class="btn btn-info"></a></p>
         <p>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<input type="botton" (click) = "deleteFeedbackForm(feedback._id)" value="Delete" class="btn btn-danger"></p>                  
          <br>
          
          
          </tr>
    
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table> 
    
</div>
